.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
  flex: 0.8;
}
.app__right {
  margin-left: 10px;
  flex: 0.2;
}
/* Instead of Bootstrap */
@media (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: column;
  }
}
