.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
}
/* select each other one */
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
.table tr {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 2px;
}
